h1{
    color:#843534;
    font-weight:bold;
    text-align:center;
    font-size:75px;
    font-family: algerian;
}
h2{
    color:salmon;
    font-size:65px;
    text-align:center;
    font-family: algerian;
}
.background{ 
     background: url("images/thanos-in-avengers-infinity-war-2018-u2.jpg")no-repeat center;  
     background-size: cover; 
     width:fit-content;
     height:800px;
     margin-top: 20px;
     color:black;

     
     
}
.container{
    width:90%;   
    margin:auto;  
    overflow:hidden; 
}



.colour{
    background-color:#f5e79e;
     background-size: cover; 
     width:fit-content;
     height:290px;
     color:black;
}
.back{
    
     background-size: cover; 
     width:fit-content;
     height:fit-content;
     color:black;
     background-color:#f5e79e;
}
.a1{
    color:salmon;
    font-size:35px;
    text-align:center;
    font-family: algerian;
}

.background1{ 
     background: url("images/back3.jpg")no-repeat center;  
     background-size: cover; 
     width:fit-content;
     height:1200px;
     margin-top: 20px;
     color:black;
  
}
.background3{
    background-color: #f5e79e;
}

